<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>CursoServelet</display-name>
    <servlet-name>CursoServelet</servlet-name>
    <servlet-class>br.com.cursoja.agendacurso.view.CursoServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoServelet</servlet-name>
    <url-pattern>/CursoServelet</url-pattern>
  </servlet-mapping>
  <display-name>agendacurso</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProfessorServelet</display-name>
    <servlet-name>ProfessorServelet</servlet-name>
    <servlet-class>br.com.cursoja.agendacurso.view.ProfessorServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorServelet</servlet-name>
    <url-pattern>/ProfessorServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inicioAlteraCurso</display-name>
    <servlet-name>inicioAlteraCurso</servlet-name>
    <servlet-class>br.com.cursoja.agendacurso.view.inicioAlteraCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inicioAlteraCurso</servlet-name>
    <url-pattern>/inicioAlteraCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicioAlteraCurso</display-name>
    <servlet-name>InicioAlteraCurso</servlet-name>
    <servlet-class>br.com.cursoja.agendacurso.view.InicioAlteraCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioAlteraCurso</servlet-name>
    <url-pattern>/InicioAlteraCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InicioAlteraProfessor</display-name>
    <servlet-name>InicioAlteraProfessor</servlet-name>
    <servlet-class>br.com.cursoja.agendacurso.view.InicioAlteraProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioAlteraProfessor</servlet-name>
    <url-pattern>/InicioAlteraProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutaAlteraCurso</display-name>
    <servlet-name>ExecutaAlteraCurso</servlet-name>
    <servlet-class>br.com.cursoja.agendacurso.view.ExecutaAlteraCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutaAlteraCurso</servlet-name>
    <url-pattern>/ExecutaAlteraCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutaAlteraProfessor</display-name>
    <servlet-name>ExecutaAlteraProfessor</servlet-name>
    <servlet-class>br.com.cursoja.agendacurso.view.ExecutaAlteraProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutaAlteraProfessor</servlet-name>
    <url-pattern>/ExecutaAlteraProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCurso</display-name>
    <servlet-name>ExcluirCurso</servlet-name>
    <servlet-class>br.com.cursoja.agendacurso.view.ExcluirCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCurso</servlet-name>
    <url-pattern>/ExcluirCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirProfessor</display-name>
    <servlet-name>ExcluirProfessor</servlet-name>
    <servlet-class>br.com.cursoja.agendacurso.view.ExcluirProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirProfessor</servlet-name>
    <url-pattern>/ExcluirProfessor</url-pattern>
  </servlet-mapping>
</web-app>